<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Project type:</strong>
    <%= project.project_type %>
  </p>

  <p>
    <strong>Customer contact person:</strong>
    <%= project.customer_contact_person %>
  </p>

  <p>
    <strong>Dues so far:</strong>
    <%= project.dues_so_far %>
  </p>

  <p>
    <strong>Potential next jobs from this client:</strong>
    <%= project.potential_next_jobs_from_this_client %>
  </p>

  <%= project.body%>


  <p>
    <strong>Notes:</strong>
    <%= project.notes %>
  </p>

  <br>
    <% if project image.content_type.in?(%w[iamge/jpeg image/png])%>
      <%= link_to image_tag(project.image_as_thumbnail ), project.image_as_thumbnail if project.image.attached? %>
    <% end -%>
<hr>
  <% project.pictures_as_thumbnails.each do |picture| %>
    <%= link_to image_tag(picture), picture %>
  <% end %>

</div>
